<div class="item" style="display: flex">
  <div class="data_input">
    <h1 class="data_item">Name:</h1>
    <mat-form-field class="example-form-field">
      <mat-label>Введите Name</mat-label>
      <input matInput type="text" [(ngModel)]="item.name">
      <button *ngIf="item.name" class="mat-raised-button has-content" matSuffix mat-icon-button aria-label="Clear" (click)="item.name=''">
        <mat-icon>close</mat-icon>
      </button>
      <button *ngIf="!item.name" class="mat-raised-button" matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="data_input">
    <h1 class="data_item">Quantity:</h1>
    <mat-form-field class="example-form-field">
      <mat-label>Введите количество</mat-label>
      <input matInput type="text" [(ngModel)]="item.quantity">
      <button *ngIf="item.quantity" class="mat-raised-button has-content" matSuffix mat-icon-button aria-label="Clear" >
        <mat-icon>close</mat-icon>
      </button>
      <button *ngIf="!item.quantity" class="mat-raised-button" matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="data_input">
    <h1 class="data_item">Unit:</h1>
    <mat-form-field class="example-form-field">
      <mat-label>Введите Unit</mat-label>
      <input matInput type="text" [(ngModel)]="item.unit">
      <button *ngIf="item.unit" class="mat-raised-button has-content" matSuffix mat-icon-button aria-label="Clear" (click)="item.unit=''">
        <mat-icon>close</mat-icon>
      </button>
      <button *ngIf="!item.unit" class="mat-raised-button" matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
