html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.middle_position {
  text-align: center;
}

.main_form {
  display: inline-block;
  height: 600px;
  width: 1000px;
  background: gray;
  border-radius: 30px;
}
.middle_elements{
  padding-left: 100px;
}
.table-container {
  height: 300px;
  overflow-y: auto;
  background: #e5e5e5;
}
.form-container {
  background-color: #e5e5e5;
  border-radius: 7px;
  padding: 20px;
  width: 800px;
}
.preview {
  background: linear-gradient(blue, pink);
  width: 1000px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
}
